DATABASE_URL="postgresql://user:password@localhost:5432/projectflow"
PORT=3000
VITE_BASE_FRONTEND_URL="http://localhost:5173"
VITE_BASE_BACKEND_URL="http://localhost:3000"
JWT_SECRET="YourJWTSecretKeyHere"
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_USER="your-email@gmail.com"
SMTP_PASS="your-app-specific-password"
EMAIL_FROM="ProjectFlow <your-email@gmail.com>"